<%= render "shared/header" %>
<div class='title-contents'>
    <span>顧客一覧</span>
    <table>
        <tr>
            <th>Company</th>
            <th>customer-name</th>
            <th>Phase</th>
            <th>position</th>
            <th>detail</th>
        </tr>
    </table>
    <table>
      <% @leads.each do |lead|%>
            <tr>
                <td><%= lead.company %></td>
                <td><%= lead.customer_name %></td>
                <td><%= lead.category.name %></td>
                <td><%= lead.position %></td>
                <td><%= link_to '詳細',lead_path(lead.id), class: 'btn-text' %></td>
            </tr>
      <% end %>
    </table>
    <div class='purchase-btn'>
          <span>
          <%= link_to '顧客登録',new_lead_path, class: 'customer-btn-text' %>
          </span>
    </div>
</div>