<%= render "shared/header" %>              
              <table>
            <tr>
                <td><%= @lead.company %></td>
                <td><%= @lead.customer_name %></td>
                <td><%= @lead.phase %></td>
                <td><%= @lead.position %></td>
            </tr>
        <% end %>
        <% end %>
    </table>
          <% if user_signed_in? && current_user.id == @lead.user.id %> 
            <%= link_to '顧客の編集', edit_item_path(@lead.id), method: :get, class: "item-red-btn" %>
            <p class='or-text'>or</p>
            <%= link_to '削除', item_path(@lead.id), method: :delete, class:'item-destroy' %>
          <% else %> 
          <% end %> 
